<?xml version="1.0" encoding="UTF-8"?>

<configuration scan="true" scanPeriod="5 seconds">
    <include resource="logback/defaults.xml"/>
    <include resource="logback/console.xml"/>
    <include resource="logback/file.xml"/>
    <root level="ERROR">
        <appender-ref ref="CONSOLE"/>
        <appender-ref ref="FILE"/>
    </root>
</configuration>