package ${package.ServiceImpl};

import ${package.Entity}.${entity};
import ${package.Mapper}.${table.mapperName};
    #if(${table.serviceInterface})
    import ${package.Service}.${table.serviceName};
    #end
import ${superServiceImplClassPackage};
import org.springframework.stereotype.Service;

/**
 * $!{table.comment}
 *
 * @author ${author}
 * @since ${date}
 */
@AllArgsConstructor
@Service
#if(${kotlin})
open class ${table.serviceImplName} : ${superServiceImplClass}<${table.mapperName}, ${entity}>()#if(${table.serviceInterface}), ${table.serviceName}#end {

        }
#else
        public class ${table.serviceImplName} extends ${superServiceImplClass}<${table.mapperName}, ${entity}>#if(${table.serviceInterface}) implements ${table.serviceName}#end {
        private final ${table.mapperName} mapper;
        }
#end
